<launch>

	<node 
	  name="dji_ros_withkeyboard" pkg="dji_ros" type="dji_ros_withkeyboard" respawn="true">
	</node>
	<node
	  name="serial_node" pkg="rosserial_python" type="serial_node.py"  args="/dev/ttyACM0" respawn="true">

	</node>
	<node
	  name="keyboard_listen" pkg="dji_ros" type="keyboard_listen"  respawn="true">

	</node>
</launch>
